<!DOCTYPE HTML>
<html ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>数云密码</title>
<link href="resources/css/global.css" rel="stylesheet" type="text/css">
<link href="resources/css/reset.css" rel="stylesheet" type="text/css">
<link href="resources/css/index.css" rel="stylesheet" type="text/css">
<script src="js/jquery-1.11.3.min.js"></script>
</head>

<body>
<div class="g-hd">
  <div class="m-login">
    <ul>
      <li class="ico4"></li>
      <li class="ico3"></li>
      <li class="ico2"></li>
      <li class="ico1"></li>
      <li class="reg"><a href="logins/login.html">注册</a></li>
      <li class="login"><a href="logins/login.html">登录</a></li>
    </ul>
    <div class="f-cb"></div>
  </div>
  <div class="m-top">
    <div class="nav">
      <div class="logo"><img src="resources/images/logo.gif" width="110" height="100" /></div>
      <div class="txt">数云密码</div>
      <div class="catalog" ng-controller="titleController">
        <ul ng-repeat="item in titleItems">
          <li class="{{item.titleClass}}"><a href="{{item.http}}">
            <div class="cn">{{item.zhName}}</div>
            <div class="en">{{item.enName}}</div>
          </a></li>
        </ul>
        <div class="f-cb"></div>
      </div>
      <div class="f-cb"></div>
    </div>
  </div>
  <div class="m-banner">
    <div id="playBox">
      <div class="playBox">
        <script src="js/banner.js"></script>
        <div class="pre"></div>
        <div class="next"></div>
        <div class="smalltitle">
          <ul>
            <li class="thistitle"></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <ul class="oUlplay">
          <li><a href="#" target="_blank"><img src="resources/images/banner-1.jpg" width="1200" height="340" border="0" /></a></li>
          <li><a href="#" target="_blank"><img src="resources/images/banner-1.jpg" width="1200" height="340" border="0" /></a></li>
          <li><a href="#" target="_blank"><img src="resources/images/banner-1.jpg" width="1200" height="340" border="0" /></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="g-bd">
  <div class="row1">
    <div class="tit">
      <span><a href="http://lxy.njust.edu.cn/_s73/xydt/list.psp">MORE&gt;&gt;</a></span>
      <h2>新闻动态</h2>
      <div class="f-cb"></div>
    </div>
    <div class="con" ng-controller="NewsController">
      <div class="news-pic">
        <div class="pic"><img src="resources/images/news-pic-1.jpg" /></div>
        
        <dl>
          <h4>
            <dd ng-repeat="item in firstnewsItems"><span>{{item.date}}</span><a href="{{item.http}}">{{item.content}}</a></dd>
          </h4>   
            <dl ng-repeat="item in firstnewsItems"><h3>&nbsp;{{item.detailcontent}}</h3></dl>
        
        </dl>
         
      </div>
      <div class="news-list1">
	  
        <dl>
          <dt><span><a href="#">MORE</a></span>2016-05</dt>
          <dd ng-repeat="item in newsItems"><span>{{item.date}}</span><a href="{{item.http}}">{{item.content}}</a></dd>
        </dl>
      </div>
      <div class="news-list2">
        <dl>
          <dt><span><a href="#">MORE</a></span>2016-04</dt>
          <dd ng-repeat="item in oldNewsItems"><span>{{item.date}}</span><a href="{{item.http}}">{{item.content}}</a></dd>
        </dl>
      </div>
      <div class="f-cb"></div>
    </div>
  </div>
  <div class="row2">
    <div class="news-pic">
      <div class="tit">
        <span><a href="#">MORE&gt;&gt;</a></span>
        <h2>学术动态<small>LEARNING</small></h2>
        <div class="f-cb"></div>
      </div>
      <div class="con" ng-controller="LearningController">
        <div class="pic"><a href="#"><img src="resources/images/news-pic-2.jpg" /></a></div>
        <dl>
          <dt><a href="http://lxy.njust.edu.cn/_s73/ad/6a/c4428a109930/page.psp">江苏大学密码研究课题组来理学院数学实验中心交流访问</a></dt>
          <dd>为促进学科之间的相互交流，我校理学院与江苏大学计算机学院的师生于4月3日在理学院数学实验中心举办了一场密码与信息安全学术交流活动。</dd>
        </dl>
        <div class="f-cb"></div>
        <ul>
          <li ng-repeat="item in learningItems"><span>{{item.date}}</span><a href="{{item.http}}">{{item.content}}</a></li>
        </ul>
      </div>
    </div>
    <div class="news-list">
      <div class="tit">
        <span><a href="#">随便逛逛&gt;&gt;</a></span>
        <h2>安全论坛<small>SAFETY</small></h2>
        <div class="f-cb"></div>
      </div>
      <div class="con" ng-controller="safetyController">
        <dl class="item1">
          <dt><span><a href="#">MORE</a></span>最新问答</dt>
          <dd ng-repeat="item in questionItems"><span>{{item.date}}</span><a href="{{item.http}}">{{item.content}}</a></dd>
        </dl>
        <dl class="item2">
          <dt><span><a href="#">MORE</a></span>最热评论</dt>
          <dd ng-repeat="item in commentItems"><span>{{item.date}}</span><a href="{{item.http}}">{{item.content}}</a></dd>
        </dl>
        <div class="space1"></div>
        <dl class="item3">
          <dt><span><a href="#">MORE</a></span>最新分享</dt>
          <dd ng-repeat="item in shareItems"><span>{{item.date}}</span><a href="{{item.http}}">{{item.content}}</a></dd>
        </dl>
        <dl class="item4">
          <dt><span><a href="#">MORE</a></span>最热下载</dt>
          <dd ng-repeat="item in downloadItems"><span>{{item.date}}</span><a href="{{item.http}}">{{item.content}}</a></dd>
        </dl>
        <div class="f-cb"></div>
      </div>
    </div>
    <div class="f-cb"></div>
  </div>
</div>
<div class="g-ft">
  <div class="m-link">
    <div class="g-bd" ng-controller="footerController">
      <dl>
        <dt>SCIENCE</dt>
        <dd ng-repeat="item in scienceItems"><a href="{{item.http}}">{{item.content}}</a></dd>
      </dl>
      <dl>
        <dt>PRODUCTS</dt>
        <dd><a href="#">CloudAPI</a></dd>
		<dd ng-repeat="item in productItems"><a href="{{item.http}}">{{item.content}}</a></dd>
      </dl>
      <dl>
        <dt>ABOUT</dt>
		<dd ng-repeat="item in aboutItems"><a href="{{item.http}}">{{item.content}}</a></dd>
      </dl>
      <dl>
        <dt>HELP</dt>
		<dd ng-repeat="item in helpItems"><a href="{{item.http}}">{{item.content}}</a></dd>
      </dl>
      <div class="f-cb"></div>
    </div>
  </div>
  <div class="m-cpr">
    <div class="g-bd">
      <div class="txt1">访问量10000</div>
      <div class="txt2">Copyright &copy; 白云互联科技</div>
      <div class="txt1"><a href="#">苏ICP备14043701号-1</a></div>
      <div class="f-cb"></div>
    </div>
  </div>
</div>
<script src="resources/js/angular.min.js"></script>
<script src="resources/js/angular-route.min.js"></script>
<script src="resources/js/ngcontroller.js"></script>
</body>
</html>