<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.dao.NewsDao">
    <resultMap id="usersMap" type="News">
        <id property="id" column="news_id" />
        <result property="title" column="news_title" />
        <result property="content" column="news_content" />
        <result property="dateofnews" column="news_dateofnews" />
    </resultMap>
    <!-- select语句 -->
    <select id="selectCurMonthListNews" resultMap="usersMap">
       SELECT *FROM ec_new WHERE dateofnews &gt;='2016-06-01' ORDER BY dateofnews DESC 
    </select>       
  <resultMap id="usersMap2" type="News">
        <id property="id" column="news_id" />
        <result property="title" column="news_title" />
        <result property="content" column="news_content" />
        <result property="dateofnews" column="news_dateofnews" />
    </resultMap>
    <select id="selectPreMonthListNews" resultMap="usersMap2">
       SELECT *FROM ec_new WHERE dateofnews &lt;='2016-05-31' ORDER BY dateofnews DESC  
    </select>   
         
    <resultMap id="usersMap3" type="News">
        <id property="id" column="news_id" />
        <result property="title" column="news_title" />
        <result property="content" column="news_content" />
        <result property="dateofnews" column="news_dateofnews" />
    </resultMap>     
      <select id="selectCurFirstNew" resultMap="usersMap3">   
         select * from ec_new where dateofnews=(select max(dateofnews) from ec_new)
      </select>
</mapper>